/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет текста для футер-адрес rgba(255, 255, 255, 0.6 */
/* цвет фона футер #2F303A */
/* цвет фона вторичный #F5F4FA */
/* белый #FFFFFF */
/* черный #000000 */


:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-collor: #2196f3;
--background-color: #ffffff;
--background: #2F303A; --footer
}
/* body */
.body{
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
 }

.logo{
color: #2196F3;
}

li{
    list-style: none;
}

.project{
    color: #757575;
}

.portfolio{
    color: #212121;
}

.heading{
    color: #212121;
}

.info{
    color: #212121;
}

.contact{
    color: #212121;
}
 /*Info */
.list :hover{
    color: #000000;
}

.contact :hover{
    color: #000000;
}
/*saite nav*/
.link :hover{
color: #000000
}