/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет текста для футер-адрес rgba(255, 255, 255, 0.6 */
/* цвет фона футер #2F303A */
/* цвет фона вторичный #F5F4FA */
/* белый #FFFFFF */
/* черный #000000 */
/* jbsfHzdCypFgKQ8 */


:root {
	--primary-title-color: #212121;
	--primary-text-color: #757575;
	--primary-white-color: #ffffff;
	--primary-black-color: #000000;
	--secondary-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--accent-color: #2196f3;
}

/* Global css properties */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* body */
body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.06em;
	scroll-behavior: smooth;
	
}

/* visually-hidden */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* container */
.container {
	width: 1200px;
	height: 600px;
	left: 0px;
	top: 80px;

	background: #2F303A;
}

/* Logo Web */
.logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;

	/* identical to box height */
	letter-spacing: 0.03em;
	text-decoration: none;
	color: #000000;
	/* shadow btn */
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-accent	{
	color: var(--accent-color);				
}

/* footer logo */
.footer-logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	text-decoration: none;

	/* identical to box height */
	letter-spacing: 0.03em;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: var(--primary-white-color)
}

.footer-logo-accent {
	color: var(--accent-color);
}

/* Navigation */


/* latin */
@font-face {
	font-family: 'Tangerine';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Tangerine Bold'), local('Tangerine-Bold'),
		url(https://fonts.gstatic.com/s/tangerine/v12/Iurd6Y5j_oScZZow4VO5srNZi5FNym499g.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}